.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #EEEEEE;
    border-right: #aaaaaa solid 1px;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 20px 8px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #818181;
    display: block;
    transition: 0.3s
}

a.active {
    background-color: #00959c;
    color: #FFFFFF;
}

.sidenav a:hover, .offcanvas a:focus{
    background-color: #818181;
    color: #FFFFFF;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 15px;}
}
#google-map {
    width: 80%;
    height: 400px;
}
.auth_links {
    float: right;
    margin-left: 5px;
    text-align: center;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: lightgrey;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    min-width: 80px;
    text-align: center;
    z-index: 1;
}

.dropdown-menu:hover {
    background-color: lightgrey;
}

#table-style {
    width: 80%;
}

#table-header-style {
    height: 40px;
    padding: 10px;
}

#table-row-style {
    border-bottom: 1px solid black;

}

#table-data-style {
    padding: 10px;
}

.container-cms
{
    margin-left:235px;
}

.body-cms
{
    background: linear-gradient(to bottom, #ffffff 29%,#d6d6d6 99%);

}
.html-cms
{
    min-height: 100%;
}

.formText
{
    width: 150px;
}

.greenText
{
    color: #32CD32;
    display: inline-block;
}

.cms-content-wrapper
{
    margin-top: 50px;
    border: solid #aaaaaa 1px;
    min-height: 75%;
}